@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body, .pagewrap {
	height: 100%;
}




/* Demo links */
.codrops-demos {
	text-align: right;
}

.codrops-demos a {
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 15px;
	padding: 0 0 5px;
	display: inline-block;
	border-bottom: 3px solid rgba(0,0,0,0.25);
}

.codrops-demos a:hover,
.codrops-demos a:focus,
.codrops-demos a.current-demo {
	color: #fff;
	border-color: #fff;
}

.pageload-link {
	padding: 13px 20px;
	color: #fff;
	background: rgba(0,0,0,0.25);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.6em;
	white-space: nowrap;
}

.pageload-link:hover {
	color: #fff;
	background: rgba(0,0,0,0.2);
}

#page-2 {
	background: #6cc88a;
}

@media screen and (max-width: 40em) {

	.column {
		width: 100%;
		float: none;
		padding: 2em;
		text-align: center;
	}

	.codrops-demos {
		text-align: center;
	}

}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}